<!DOCTYPE html>
<html>
  <head>
    <title>List Puppy</title>
  </head>
  <body>
    <h3>Enter puppy details below.</h3>

    <form action="/" method="POST">
      <p>
        <label for="name">Name: </label>
        <input type="text" name="name" id="name">
      </p>
      <p>
        <label for="breed">Breed: </label>
        <input type="text" name="breed" id="breed">
      </p>
      <p>
        <label for="age">Age: </label>
        <input type="text" name="age" id="age">
      </p>
      <p>
        <input type="submit" value="submit">
      </p>
    </form>
  </body>
</html>
