<!DOCTYPE html>
<html>
  <head>
    <title>Puppy Profile</title>
  </head>
  <body>
    <h3>Puppy Details</h3>
    <p>
      Name: <%= @puppy.name %>
    </p>
    <p>
      Breed: <%= @puppy.breed %>
    </p>
    <p>
      Age: <%= @puppy.age %>
    </p>
  </body>
</html>
